
@font-face {
	font-family: ApercuLight;
	src: url('apercu_light_002.otf');
}
@font-face {
	font-family: Apercu;
	src: url('apercu_regular.otf');
}
@font-face {
	font-family: ApercuMedium;
	src: url('apercu_medium.otf');
}
@font-face {
	font-family: ApercuBold;
	src: url('apercu_bold.otf');
}

body {
	margin: 0px;
	background-image: url("../images/bg.png");
	background-color: #222;
	color: #DBF1F8;
	font-size: 30px;
}

.blurb_cont {
	font-family: ApercuBold;
	height: 70px;
	margin: 20px;
	background: rgba(255, 255, 255, .15);
	text-align: right;
	padding: 15px;
}
#blurb {
	font-family: ApercuLight;
	font-size: 30px;
	margin-left: 5px;
	background: #333;
	border: none;
	color: #FFF;
	
	width: 85%;
	height: 100%;
	
	vertical-align: top;
}
.btnping {
	font-family: ApercuBold;
	font-size: 50px;
	padding-top: 30px;
	
	background: rgba(255, 255, 255, .15);
	text-align: center;
	vertical-align: middle;
	
	height: 220px;
	
	margin: 20px;
	margin-top: 0px;
}
.btnping img {
	height: 100px;
}
#btnpingOff {
	display: none;
}

.header {
	height: 70px;
	font-family: ApercuBold;
	
	margin: 20px;
	margin-bottom: 50px;
}
.footer {
	font-family: ApercuBold;
	
	position: absolute;
	top: 100%;
	
	height: 120px;
	
	left: 0px;
	right: 0px;
	margin-left: 20px;
	margin-right: 20px;
	
	margin-top: -160px;
	text-align: center;
}
.footer_sep {
	height: 100%;
	width: 2%;
	float: left;
}
.half_footer {
	background: rgba(255, 255, 255, .15);
	width: 49%;
	height: 100%;
	float: left;
	padding-top: 20px;
	text-align: center;
}
.half_footer img {
	vertical-align: middle;
}
#whos_free img {
	height: 80px;
}
#chatters img {
	height: 80px;
}
#listcont {
	overflow-x: hidden;
	overflow-y: scroll;
}
.listitem {
	height: 115px;
	background: rgba(255, 255, 255, .15);
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	
	font-family: ApercuBold;
	
	text-align: left;
	vertical-align: middle;
}
.listitem div {
	float: left;
}
.listitem .info {
	float: right;
}
.here {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 40px;
}
.blurbdiv {
	padding-top: 10px;
}
.blurbs {
	font-family: ApercuLight;
}
.dist {
	font-size: 35px;
	color: #1f7775;
}
#map {
	width: 100%;
	height: 100%;
}
#map-canvas, #chatroom {
	position: absolute;
	margin: 20px;
	left: 0px;
	right: 0px;
	top: 130px;
}
#map-canvas {
	bottom: 10px;
}
#chatroom {
	bottom: 150px;
}
	#chatTitle {
		font-family: ApercuBold;
	}
	#messages {
	background: rgba(255, 255, 255, .15);
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
		.bubble {
			width: 70%;
			word-break: break-word;
			font-family: ApercuLight;
			padding: 20px;
			margin: 20px;
			border-radius: 20px;
			background: #CCC;
			color: #000;
		}
	#sendercont {
		position: relative;
		margin-top: 110px;
	}
	#sender {
		position: absolute;
	background: rgba(255, 255, 255, .15);
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
		#messagercont {
			margin: 20px;
			margin-right: 180px;
		}
			#messager {
				background: #333;
				border: none;
				font-size: 40px;
				height: 70px;
				padding: 15px;
				color: #fff;
				width: 100%;
			}
		#send {
			float: right;
			vertical-align: middle;
			margin: 20px;
			margin-top: -92px;
		}
